<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/products']" routerLinkActive="router-link-active">OSHOP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/shoping-cart']" routerLinkActive="router-link-active">Shoping cart</a>
      </li>
       <li *ngIf="auth.user$ | async as user;else anonymoususer" dropdown class="nav-item dropdown">
        <a dropdownToggle class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          {{user.displayName}}
        </a>
        <div *dropdownMenu class="dropdown-menu " aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink='/my-orders'>My Orders</a>
          <a class="dropdown-item" routerLink='/admin/orders'>Manage Orders</a>
          <a class="dropdown-item" routerLink='/admin/products'>Manage Products</a>
          <div class="dropdown-divider"></div>
          <a (click)="logout()" class="dropdown-item">Logout</a>
        </div>
      </li>
      <ng-template #anonymoususer>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/login']" routerLinkActive="router-link-active">Login </a>
        </li>
      </ng-template>
    </ul>
  </div>
</nav>
