<div class="body">
  <div class="warp">
    <h2>Login With</h2>
    <div class="social-media">
      <button><a><i class="fab fa-facebook"></i>&nbsp;Facebook</a></button>&nbsp;&nbsp;
      <button (click)="login()"><a><i class="fab fa-google"></i>&nbsp;Google</a></button>
    </div>
      <form action="">
        <label for="username">username</label>
        <input type="text"><br>
        <label for="password">password</label>
        <input type="password"><br>
        <input type="submit" value="Log In">
        <p>No a Member?<a href="#">&nbsp;Sign Up Now</a></p>
      </form> 
  </div>
</div>